---
import { siteConfig } from "../config";
import SocialLink from "./SocialLink.astro";
---
<div class="flex flex-col items-center gap-4">
  <div class="glass-pill flex items-center gap-2 px-4 py-2 rounded-full">
    {
      siteConfig.socialLinks.map((link) => (
        <SocialLink
          href={link.href}
          platform={link.platform}
          iconPath={link.iconPath}
        />
      ))
    }
  </div>

  <p class="text-[11px] text-gray-400">Made with Astro</p>
</div>
